body {
  color: #354045;
  font: normal 100% Cambria, Georgia, serif;
  line-height: 1.4em;
  width: 60%;
  margin: 0 auto;
  background: white;
  padding: 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}

h1 {
  width: 90%;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 0.15em;
  line-height: 1.4em;
  text-align: center;
  margin: 0 auto;
}

.btn, .txt {
  color: #354045;
}

.btn:disabled {
  color: #d3d3d3;
}

.add-task-widget {
  font-size: 2em;
  padding: 0;
  margin: 0 auto;
  padding: 2% 5% 2% 5%;
  width: 90%;
}

.add-task-widget .txt {
  font-size: 1em;
  margin: 1.738% 0% 1.738% 0%;
  width: 74%;
  height: 70%;
  padding: 0.2em 0.1em;
}

.add-task-widget .btn {
  font-size: 1em;
  margin: 1.738% 0% 1.738% 0%;
  padding: 0.3em 0.1em;
  height: 72%;
  width: 23%;
  cursor: pointer;
}

.task-list-widget {
  border-top: #bdb76b solid 0.1em;
  padding: 0;
  margin: 0 auto;
  width: 95%;
  font-size: 0.75em;
}

.task-list-widget header {
  width: 97%;
  margin: 0 auto;
  border-bottom: #bdb76b dotted 1px;
}

.task-list-widget h1 {
  text-align: left;
  margin: 0 0 0 1%;
}

.task-list-widget .task-list {
  font-size: 1.7em;
  line-height: 2em;
  width: 97%;
  margin: 0 auto;
}

.task-list-widget .task {
  cursor: pointer;
  padding-left: 7.5%;
  border-bottom: #bdb76b dotted 1px;
}

.task-list-widget .task .txt {
  margin-left: 1%;
}

.task-list-widget .task img {
  display: none;
}

.task-list-widget .task.working img {
  display:inline;
  margin: auto 6px auto -30px;
}

.task-list-widget .task .chk {
  cursor: pointer;
}

.task-list-widget .todo {
  font-weight: bold;
}

.task-list-widget .todo.working .txt {
  font-weight: lighter;
  text-decoration: none;
  color: gray;
  font-style: italic;
}

.task-list-widget .done.working .txt {
  font-weight: lighter;
  text-decoration: none;
  color: gray;
  font-style: normal;
}

.task-list-widget .done .txt {
  color: gray;
  font-style: italic;
  text-decoration: line-through;
  text-decoration-color: gray;
}

.task-list-widget .even {
  background-color: #fff0f0;
}

.task-list-widget .odd {
  background-color: #f5f5f5;
}